<div class="home">
  <div class="hero">
    <h1>🤘 Bienvenue sur MetalBlog 🤘</h1>
    <p>Actualités, reviews et histoire du Metal sous toutes ses formes en partant des bases du Rock'n'Roll en passant par le Heavy Metal et atteignant le plus obscur du Black et violent du Death </p>
  </div>

  <div class="featured-song">
    <h2>🎵 Hymne</h2>
    <div class="youtube-embed">
      <iframe
        src="https://www.youtube.com/embed/videoseries?list=PLIS_yqoTedlldhzbtI2YYLZJPEJGlyFTi"
        title="Le son du moment"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="articles-section">
    <h2>📰 Derniers articles</h2>
    <div class="articles-grid">
      @for (article of articles; track article.id) {
        <app-article-card [article]="article" />
      }
    </div>
  </div>
</div>
